<div id="new-poem-form-section">
  <% if logged_in? %>
    <a id="create-poem-link" href="/poems/new">Create poem</a>
  <% end %>
</div>
<ul>
  <% @poems.each do |poem| %>
    <li><%= erb :'poems/_index_show', locals: {poem: poem} %>
      <% if logged_in? && current_user == poem.user %>
        <p><a href="/poems/<%= poem.id %>/edit">Edit poem</a></p>
        <p><%= erb :'poems/_delete', locals: {poem: poem} %></p></li>
      <% end %>
  <% end %>
</ul>
