<form action="/users" method="post">
	<input type="text" name="users[username]" placeholder="Username">
	<input type="email" name="users[email]" placeholder="Email">
	<input type="password" name="users[password]" placeholder="Password">
	<input type="submit" value="Register">
</form>